name: Tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [38, 39, 310]

    steps:
      - uses: actions/checkout@v4
      - name: Setup conda
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci/environment-py${{matrix.python-version}}.yml
      - name: Install kerchunk
        shell: bash -l {0}
        run: |
          pip install -e .
      - name: Test with pytest
        shell: bash -l {0}
        run: |
          pytest -v --cov
